DoctorWebApplication/DoctorAppointmentWebApplication/bin/
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_LoginPartial.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Login.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/AccessDenied.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/DoctorAppointmentWebApplication.pdb
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/DoctorAppointmentWebApplication.genruntimeconfig.cache
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/DoctorAppointmentWebApplication.exe
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/DoctorAppointmentWebApplication.dll
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/DoctorAppointmentWebApplication.csprojAssemblyReference.cache
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/DoctorAppointmentWebApplication.csproj.FileListAbsolute.txt
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/DoctorAppointmentWebApplication.csproj.CoreCompileInputs.cache
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/DoctorAppointmentWebApplication.csproj.CopyComplete
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/DoctorAppointmentWebApplication.assets.cache
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/DoctorAppointmentWebApplication.TagHelpers.input.cache
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/DoctorAppointmentWebApplication.RazorTargetAssemblyInfo.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/DoctorAppointmentWebApplication.RazorTargetAssemblyInfo.cache
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/DoctorAppointmentWebApplication.RazorCoreGenerate.cache
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/DoctorAppointmentWebApplication.RazorAssemblyInfo.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/DoctorAppointmentWebApplication.RazorAssemblyInfo.cache
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/DoctorAppointmentWebApplication.MvcApplicationPartsAssemblyInfo.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Views/Admin/Create.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ViewStart.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ViewImports.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ValidationScriptsPartial.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/_ViewImports.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Register.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/DoctorAppointmentWebApplication.MvcApplicationPartsAssemblyInfo.cache
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/DoctorAppointmentWebApplication.AssemblyInfoInputs.cache
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/DoctorAppointmentWebApplication.AssemblyInfo.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/project.nuget.cache
DoctorWebApplication/DoctorAppointmentWebApplication/obj/project.assets.json
DoctorWebApplication/DoctorAppointmentWebApplication/obj/DoctorAppointmentWebApplication.csproj.nuget.g.targets
DoctorWebApplication/DoctorAppointmentWebApplication/obj/DoctorAppointmentWebApplication.csproj.nuget.g.props
DoctorWebApplication/DoctorAppointmentWebApplication/obj/DoctorAppointmentWebApplication.csproj.nuget.dgspec.json
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/staticwebassets/DoctorAppointmentWebApplication.StaticWebAssets.xml
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/staticwebassets/DoctorAppointmentWebApplication.StaticWebAssets.Manifest.cache
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/_ViewImports.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/SetPassword.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/Index.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/Email.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/ChangePassword.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Logout.cshtml.g.cs
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/DoctorAppointmentWebApplication.Views.pdb
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/DoctorAppointmentWebApplication.Views.dll
DoctorWebApplication/DoctorAppointmentWebApplication/obj/Debug/netcoreapp3.1/DoctorAppointmentWebApplication.TagHelpers.output.cache
DoctorWebApplication/DoctorAppointmentWebApplication/.vs/DoctorAppointmentWebApplication/v16/.suo
DoctorWebApplication/DoctorAppointmentWebApplication/.vs/DoctorAppointmentWebApplication/config/applicationhost.config
DoctorWebApplication/DoctorAppointmentWebApplication/.vs/DoctorAppointmentWebApplication/DesignTimeBuild/.dtbcache.v2
