
@{
    ViewData["Title"] = "CreateTable";
}

<h1>Create Table  Result:</h1>

<p>
    The table of @ViewBag.TableName is Created

    @(ViewBag.success == true? "Successfully" : "Failed, it may existed")


</p>

