@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>CreateBlobContainer</h2>

<p>
    The @ViewBag.BlobContainerName is created
    @(ViewBag.Success == true ? " Succeeded!" : " failed! Because the container is exist.")
</p>