.masthead {
    height: 100%;
    min-height :400vh;
    width: 100%;
    min-height: 500px;
    background-image: url("/Media/home-background-img.png");
    background-size : cover;
    object-fit : contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top : -17px;
}

.home-body {
    background-color: #FFCDCD; 
}

.page-section {
    padding: 6rem 0;
}

.page-section h2.section-heading {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.page-section h3.section-subheading {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
}

.my-3 {
    margin-top: 1rem !important;
}

.my-3 {
    margin-bottom: 1rem !important;
}

.border-3 {
    border-width: 3px !important;
}

.custom-card-text {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align:center;
}

.custom-card-text2 {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.custom-time-text {
    font-family: Arvo;
    font-size: 30px;
}

.custom-sub-text {
    font-family: Arvo;
    font-size: 18px;
}

.custom-404-padding{
    padding-top: 120px;
}

.custom-image-size {
    width: 100%;
    min-height: 120px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}

.float-right {
    float: right;
}

.custom-hr {
    margin-top: 10px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

